<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="customer-form-contents">

    <label for="name" class="form-label">Name:</label>
    <input type="text" id="name" th:field="*{name}" class="form-control form-input"
           placeholder="John Smith" minlength="4" required="required">
    <label for="phone" class="form-label">Phone Number:</label>
    <input type="text" id="phone" th:field="*{phone}" class="form-control form-input"
           placeholder="8439999999" pattern="[0-9]{10}" required="required">
    <label for="location" class="form-label">Location:</label>
    <input type="text" id="location" th:field="*{location}" class="form-control form-input"
           placeholder="120 Smith St" minlength="5" required="required">
    <label for="frequency" class="form-label">Frequency:</label>
    <input type="number" id="frequency" th:field="*{frequency}" th:value="*{frequency}"
           class="form-control form-input" placeholder="5" required="required">
    <label for="regular-cost" class="form-label">Regular Cost:</label>
    <input type="text" id="regular-cost" th:field="*{regularCost}" class="form-control form-input"
           placeholder="30.00" pattern="^\\$?(([1-9](\\d*|\\d{0,2}(,\\d{3})*))|0)(\\.\\d{1,2})?$">

    <div class="clear inner-add-elements"></div>

    <div class="container" style="margin-bottom: 40px">
        <div class="row">
            <div class="col text-center">
                <input type="submit" class="btn btn-primary form-submit-btn default-btn" value="Submit" />
                <div class="form-button-divider"> </div>
                <input type="button" class="btn btn-danger form-submit-btn"
                       value="Delete" th:if="${addUpdate == 'UPDATE'}" onclick="deleteCustomer(event)"/>
            </div>
        </div>
    </div>

</div>

</body>
</html>