<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="worker-form-contents">

  <label for="name" class="form-label">Name:</label>
  <input type="text" id="name" th:field="*{name}" class="form-control form-input"
         placeholder="John Smith" minlength="5" required="required" pattern="^(\w\w+)\s(\w+)$">
  <label for="email" class="form-label">Email:</label>
  <input type="email" id="email" th:field="*{email}" class="form-control form-input"
         placeholder="john.smith@gmail.com"
         pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required="required">
  <label for="phone" class="form-label">Phone Number:</label>
  <input type="text" id="phone" th:field="*{phone}" class="form-control form-input"
         placeholder="8439999999" pattern="[0-9]{10}" required="required">
    <label for="username" th:if="${account != null}" class="form-label">Account Username:</label>
  <input type="text" id="username" th:if="${account != null}" th:value="${account.username}"
         class="form-control form-input" disabled>
  <div class="clear inner-add-elements" ></div>


    <div class="container" style="margin-bottom: 40px">
        <div class="row">
            <div class="col text-center">
                <input type="button" class="btn btn-primary form-submit-btn default-btn" value="Update"
                onclick="updateWorkerClick()" th:if="${addUpdate == 'UPDATE'}"/>
                <div class="form-button-divider"> </div>
                <button class="btn btn-primary form-submit-btn default-btn"
                        onclick="createWorker()"  th:if="${addUpdate == 'ADD'}" type="button">Create Worker
                </button>
                <button class="btn btn-primary form-submit-btn default-btn"
                        onclick="addWorkerPLSAccount()"  th:if="${account == null && addUpdate == 'UPDATE'}" type="button">Create Worker Account
                </button>
                <div class="form-button-divider"> </div>
                <input type="button" class="btn btn-danger form-submit-btn"
                       value="Delete" th:if="${addUpdate == 'UPDATE'}" onclick="deleteWorker(event)"/>
            </div>
        </div>
    </div>

</div>

</body>
</html>