<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header id="navbar-container" class="navbar">
  <a th:href="@{/home}" href="../home.html" id="navbar-title">
    Professional Lawn Services
  </a>
  <nav>
    <ul class="nav-links">
      <li><a th:href="@{/home}" href="../home.html">Home</a></li>
      <li th:if="${userAccessLevel >= managerAccessLevel}"><a th:href="@{/workers}" href="../workers.html">Workers</a></li>
      <li th:if="${userAccessLevel >= managerAccessLevel}"><a th:href="@{/customers}" href="../customers.html">Customers</a></li>
      <li th:if="${userAccessLevel >= managerAccessLevel}"><a th:href="@{/appointments}" href="../appointments.html">Appointments</a></li>
      <li><a th:href="@{/account}" href="../alter-account.html">Account</a></li>
      <li th:if="${userAccessLevel >= managerAccessLevel}"><a th:href="@{/reports}" href="../reports.html">Reports</a></li>
    </ul>
  </nav>
  <div id="navbar-dropdown">
    <button id="nav-links-dropdown-button" onclick="navbarDropdown(event)">
      <img id="navbar-dropdown-svg" th:src="@{/images/justify.svg}" src="../../static/images/justify.svg" height="30" width="30">
    </button>
    <div id="navbar-dropdown-content">
      <!--<img src="../../../images/plstraced.svg" height="60">-->
      <li><a th:href="@{/home}" href="../home.html">Home</a></li>
      <li th:if="${userAccessLevel >= managerAccessLevel}"><a th:href="@{/workers}" href="../workers.html">Workers</a></li>
      <li th:if="${userAccessLevel >= managerAccessLevel}"><a th:href="@{/customers}" href="../customers.html">Customers</a></li>
      <li th:if="${userAccessLevel >= managerAccessLevel}"><a th:href="@{/appointments}" href="../appointments.html">Appointments</a></li>
      <li><a th:href="@{/account}" href="../alter-account.html">Account</a></li>
      <li th:if="${userAccessLevel >= managerAccessLevel}"><a th:href="@{/reports}" href="../reports.html">Reports</a></li>
    </div>
  </div>
</header>

</body>
</html>