.primary-column-header {
    font-size: 25px;
    background-color: black;
    color: white;
    margin-bottom: 10px;
}

.column {
    background-color: black;
    margin: 5px 8px 5px 8px;
    border-radius: 5px;
    height: 225px;
    padding: 2px 2px 2px 2px
}

.inner-date-column {
    width: 100%;
    height: 100%;
    background-color: white;
}

.date-header  {
    width: 100%;
    font-size: 17px;
}

.date-content {
    margin: 8px 8px 8px 8px;
    height: 180px;
    padding-top: 5px;
    overflow-y: auto;
}

.content-module {
    height: 30px;
    background: #E9EDF0;
    border-radius: 8px;
    margin-bottom: 5px;
    font-size: 18px;
    width: 100%;
    border: none;
}

.inner-clock {
    background-color: white;
    height: 70%;
}

.inner-add {
    background-color: white;
    height: 100%;
}

.inner-add-elements {
    margin: 5px 5px 5px 5px;
}

.inner-clock-client {
    padding-top: 15px;
}

.module-info {
    background: rgba(109, 152, 171, 45%);
    border-radius: 0 0 8px 8px;
    text-align: left;
    display: none;
    overflow: hidden;
    margin: 0 0 5px 0;
}

.module-info ul {
    padding: 0 0 0 25px;
}

.inner-clock-buttons {
    background-color: white;
    height: 30%;
}


h2 {
    margin-top: 0;
}

#missed-content {
    margin: 8px 8px 8px 8px;
    height: 180px;
    padding-top: 5px;
    overflow-y: auto;
}


#add-schedule-date {
    margin: 15px 0 19px 0;
}

#add-header {
    margin: 0 0 9px 0;
}

#clock-numbers {
    font-size: 30px;
}

#pause-session-button {
    display: none;
}

#resume-session-button {
    display: none;
}

#end-session-button {
    display: none;
}

#active-client {
    display: none;
}
#active-client-label {
    display: none;
}

@media (max-width: 1199px){

    .container {
        width: 990px;
    }

    #missed-header {
        font-size: 24px;
    }

}

@media (max-width: 991px) {

    .container {
        width: auto;
    }

    .col-md-2 {
        display: none;
    }

    #current-day-column {
        display: flex;
    }

}