.row {
    background-color: white;
}

.column {
    display: flow;
}

.clear {
    display: none;
}

.column-containers {
    display: inline;
}

#row1 .column{
    padding: 0;
}

@media (max-width: 1200px) {

    #filter-button-text {
        display: none;
    }

    #add-appointment-button-text {
        display: none;
    }

    #search-appointment-button-text{
        display: none;
    }

}

@media (max-width: 991px) {

    .date-range-container {
        display: inline;
        margin: 2px 0 0 0;
        width: 200px;
    }

    .clear {
        display: block;
    }

    .column-containers {
        display: block;
    }

    .center-stacking-column {
        width: 50%;
    }

    #stacking-column {
        display: flex;
    }

    #job-filter-container {
        margin: 15px 10px 0 0;
    }

    #filter-button-container {
        margin: 8px 0 0 10px;
    }

}
