html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    justify-items: center;
    align-items: center;
    background-image: url("/images/shattered.webp");
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgb(154, 234, 246, 8%);
}

*:hover {
    transition-duration: 0.5s;
}

.navbar {
    position: fixed !important;
    background-color: #6D98AB;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    width: 100%;
    z-index: 100;
    justify-content: space-between;
    align-items: center;
    display: flex;
    border-radius: 0;
}

.main-container {
    margin-top: 60px;
    padding-top: 50px;
    padding-bottom: 10px;
}

.clear{
    clear: both;
    display: block;
    content: "";
    width: 100%;
}

.nav-links li {
    list-style: none;
    float:left;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-left: 20px;
}

.inline-space-10 {
    margin: 0 5px 0 5px;
}

.btn {
    margin: 2px;
    background-color: #3394B7;
}

.table {
    margin-bottom: 10px;
}


.thead {
    background-color: rgb(235, 170, 61);
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #FFE5B8;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover {
    transition-duration: 0s;
}

#row1 {
    border-radius: 10px 10px 0 0;
}

#row3 {
    border-radius: 0 0 10px 10px;
    height: 30px;
}

#next-page {
    border: none;
    background-color: white;
}

#prev-page {
    border: none;
    background-color: white;
}

#navbar-title:hover, .nav-links li a:hover, #navbar-dropdown-content a:hover {
    opacity: 50%;
}

#navbar-title {
    font-size: 25px;
    color: white;
    text-decoration: none;
}

#navbar-dropdown {
    display: none;
}

#navbar-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin: 14px 0 0 -50px;
}

#nav-links-dropdown-button {
    background-color: #6D98AB;
    border: none;
}

#navbar-collapse {
    width: 300px;
}

#navbar-dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

@media (max-width: 991px) {

    .container {
        width: auto;
    }

    .nav-links {
        display: none;
    }

    #navbar-dropdown-content {
        display: none;
    }

    #nav-links-dropdown-button {
        display: inline;
    }

    #navbar-title {
        font-size: 22px;
    }

    #navbar-dropdown {
        display: inline;
    }

}