<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Account</title>
  <link rel="icon" type="image/x-icon" href="../../../images/favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../common.css">
  <link rel="stylesheet" href="account.css">
  <script src="../common.js"></script>
  <script src="account.js"></script>
</head>
<body>
<div class="overlay">

  <header class="navbar">
    <a href="../home/home.html" id="navbar-title">
      Professional Lawn Services
    </a>
    <nav>
      <ul class="nav-links">
        <li><a href="../home/home.html">Home</a></li>
        <li><a href="../contacts/contacts.html">Contacts</a></li>
        <li><a href="../appointments/appointments.html">Appointments</a></li>
        <li><a href="#">Account</a></li>
        <li><a href="../statistics/statistics.html">Statistics</a></li>
      </ul>
    </nav>
    <div id="navbar-dropdown">
      <button id="nav-links-dropdown-button" onclick="navbarDropdown(event)">
        <img id="navbar-dropdown-svg" src="../../../images/caret-right-square.svg" height="25" width="25">
      </button>
      <div id="navbar-dropdown-content">
        <a href="../home/home.html">Home</a>
        <a href="../contacts/contacts.html">Contacts</a>
        <a href="../appointments/appointments.html">Appointments</a>
        <a href="#">Account</a>
        <a href="../statistics/statistics.html">Statistics</a>
      </div>
    </div>
  </header>


</div>
</body>
</html>