<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Account</title>
  <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico" th:href="@{/images/favicon.ico}">
  <link rel="stylesheet" type="text/css" media="all" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
  <script th:src="@{/js/jquery.min.js}" src="../static/js/jquery.min.js"></script>
  <script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" media="all" href="../static/css/common.css" th:href="@{/css/common.css}" />
  <link rel="stylesheet" type="text/css" media="all" href="../static/css/account.css" th:href="@{/css/account.css}" />
  <script th:src="@{/js/common.js}" src="../static/js/common.js"></script>
  <script th:src="@{/js/account.js}" src="../static/js/account.js"></script>
</head>
<body onload="loadNavbar()">
<div class="overlay">

  <div id="navbar-insert" th:insert="/elements/_navbar.html::#navbar-container">
  </div>

  <div class="container main-container add-content-div">
    <h1 class="form-header">Update Account Form</h1>
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <form id="add-form" action="#" th:action="@{/update-account}" th:object="${user}" method="post">


          <label for="username" class="form-label">Username:</label>
          <input type="text" id="username" th:field="*{username}" class="form-control form-input"
                 readonly="readonly">
          <!--
                    <label for="old-password" class="form-label">Old Password:</label>
                    <input type="password" id="old-password" th:field="*{password}" class="form-control form-input"
                           required="required">
          -->
          <label for="new-password" class="form-label">New Password:</label>
          <input type="password" id="new-password" th:field="*{newPassword}" class="form-control form-input"
                 pattern="(?=(.*[0-9]))((?=.*[A-Za-z0-9])(?=.*[A-Z])(?=.*[a-z]))^.{8,}$" required="required">
          <label for="role" class="form-label">Role:</label>
          <div class="clear inner-add-elements"></div>
          <p id="role" th:text="*{role}"> </p>
          <div class="clear inner-add-elements"></div>
          <input type="submit" class="btn btn-primary form-submit-btn" value="Update Password"/>

        </form>
        <form th:action="@{/logout}" method="post">
          <input type="submit" class="btn btn-primary form-submit-btn" value="Sign Out"/>
        </form>
      </div>
    </div>
  </div>

</div>
</body>
</html>