<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Customer</title>
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/js/jquery.min.js}" src="../static/js/jquery.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/common.css" th:href="@{/css/common.css}" />
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/account.css" th:href="@{/css/add-contact.css}" />
    <script th:src="@{/js/common.js}" src="../static/js/common.js"></script>
    <script th:src="@{/js/add-contact.js}" src="../static/js/add-contact.js"></script>
</head>
<body onload="loadNavbar(); formClear()">
<div class="overlay">

    <div id="navbar-insert" th:insert="html-elements.html::#navbar-container">
    </div>

    <div class="container main-container add-content-div">
        <h1 class="form-header">Add Customer Form</h1>
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <form id="add-form" action="#" th:action="@{/create-customer}" th:object="${customer}" method="post">
                    <label for="name" class="form-label">Name:</label>
                    <input type="text" id="name" th:field="*{name}" class="form-control form-input"
                           placeholder="John Smith" minlength="4" required="required">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" id="email" th:field="*{email}" class="form-control form-input"
                           placeholder="john.smith@gmail.com"
                           pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required="required">
                    <label for="phone" class="form-label">Phone Number:</label>
                    <input type="text" id="phone" th:field="*{phone}" class="form-control form-input"
                           placeholder="8439999999" pattern="[0-9]{10}" required="required">
                    <label for="location" class="form-label">Location:</label>
                    <input type="text" id="location" th:field="*{location}" class="form-control form-input"
                           placeholder="120 Smith St" minlength="5" required="required">
                    <label for="frequency" class="form-label">Frequency:</label>
                    <input type="number" id="frequency" th:field="*{frequency}" th:value="*{frequency}"
                           class="form-control form-input" placeholder="5" required="required">
                    <div class="clear inner-add-elements"></div>
                    <input type="submit" class="btn btn-primary form-submit-btn" value="Submit" />
                </form>
            </div>
        </div>
    </div>

</div>
</body>
</html>