<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update Customer</title>
  <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico" th:href="@{/images/favicon.ico}">
  <link rel="stylesheet" type="text/css" media="all" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
  <script th:src="@{/js/jquery.min.js}" src="../static/js/jquery.min.js"></script>
  <script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" media="all" href="../static/css/common.css" th:href="@{/css/common.css}" />
  <script th:src="@{/js/common.js}" src="../static/js/common.js"></script>
  <script th:src="@{/js/alter-customer.js}" src="../static/js/alter-customer.js"></script>
</head>
<body onload="loadNavbar()">
<div class="overlay">

  <div id="navbar-insert" th:insert="elements/_navbar.html::#navbar-container">
  </div>

  <div class="container main-container add-content-div">
    <h1 class="form-header" th:if="${addUpdate == 'ADD'}">Add Customer Form</h1>
    <h1 class="form-header" th:if="${addUpdate == 'UPDATE'}">Update Customer Form</h1>
    <div class="row justify-content-center">
      <div class="col-lg-6">

        <form th:id="add-form" action="#" th:action="@{/add-customer}" th:if="${addUpdate == 'ADD'}"
              th:object="${customerRequest}" method="post">

          <div th:insert="elements/_alter-customer-form.html::#customer-form-contents">
          </div>

        </form>

        <form th:id="add-form" action="#" th:action="@{/update-customer/{id}(id=${id})}"
              th:if="${addUpdate == 'UPDATE'}" th:object="${customerRequest}" method="post">

          <div th:insert="elements/_alter-customer-form.html::#customer-form-contents">
          </div>

        </form>

      </div>
    </div>
  </div>

</div>

<div th:if="${addUpdate == 'UPDATE'}" type="hidden">
  <input th:id="customerId" th:value="${customer.customerId}"/>
</div>


</body>
</html>