<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:if="${addUpdate == 'UPDATE'}">Add Contact</title>
    <title th:if="${addUpdate == 'ADD'}">Update Contact</title>
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/js/jquery.min.js}" src="../static/js/jquery.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/common.css" th:href="@{/css/common.css}" />
    <script th:src="@{/js/common.js}" src="../static/js/common.js"></script>
    <script th:src="@{/js/alter-contact.js}" src="../static/js/alter-contact.js"></script>
</head>
<body onload="loadNavbar(); formClear()">
<div class="overlay">

    <div id="navbar-insert" th:insert="elements/_navbar.html::#navbar-container">
    </div>

    <div class="container main-container add-content-div">
        <h1 th:if="${addUpdate == 'ADD'}" class="form-header">Add Contact Form</h1>
        <h1 th:if="${addUpdate == 'UPDATE'}" class="form-header">Update Contact Form</h1>
        <div class="row justify-content-center">
            <div class="col-lg-6">

                <form id="add-form" action="#" th:action="@{/add-contact}" th:if="${addUpdate == 'ADD'}"
                      th:object="${contactRequest}" method="post">

                    <div th:insert="elements/_alter-contact-form.html::#contact-form-contents">
                    </div>

                </form>

                <form action="#" th:action="@{/update-contact/{id}(id=${id})}" th:if="${addUpdate == 'UPDATE'}"
                      th:object="${contactRequest}" method="post">

                    <div th:insert="elements/_alter-contact-form.html::#contact-form-contents">
                    </div>

                </form>

            </div>
        </div>
    </div>

</div>

<div th:if="${addUpdate == 'UPDATE'}">
    <input th:id="contactId" type="hidden" th:value="${contact.contactId}"/>
</div>

</body>
</html>