<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Statistics</title>
  <link rel="icon" type="image/x-icon" href="../../../images/favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../common.css">
  <link rel="stylesheet" href="contacts.css">
  <script src="../common.js"></script>
  <script src="contacts.js"></script>
</head>
<body>
<div class="overlay">

  <header class="navbar">
    <a href="../home/home.html" id="navbar-title">
      Professional Lawn Services
    </a>
    <nav>
      <ul class="nav-links">
        <li><a href="../home/home.html">Home</a></li>
        <li><a href="#">Contacts</a></li>
        <li><a href="../appointments/appointments.html">Appointments</a></li>
        <li><a href="../account/account.html">Account</a></li>
        <li><a href="../statistics/statistics.html">Statistics</a></li>
      </ul>
    </nav>
    <div id="navbar-dropdown">
      <button id="nav-links-dropdown-button" onclick="navbarDropdown(event)">
        <img id="navbar-dropdown-svg" src="../../../images/caret-right-square.svg" height="25" width="25">
      </button>
      <div id="navbar-dropdown-content">
        <a href="../home/home.html">Home</a>
        <a href="#">Contacts</a>
        <a href="../appointments/appointments.html">Appointments</a>
        <a href="../account/account.html">Account</a>
        <a href="../statistics/statistics.html">Statistics</a>
      </div>
    </div>
  </header>

  <div class="container main-container center-block">

    <div id="row1" class="row center-block">

      <div class="column col-sm-4 text-center">
        <h1>Contacts</h1>
      </div>

      <div class="column col-sm-5 text-center" style="margin-top: 15px">
        <input type="text" class="inner-add-elements" placeholder="Search Contacts">
        <button id="search-contact-button" class="btn btn-primary">
          Search <img src="../../../images/search.svg" height="20" width="20">
        </button>
      </div>

      <div class="column col-sm-3 text-center" style="margin-top: 15px">
        <a href="add-contact.html">
          <button id="add-contact-button" class="btn btn-primary">
            Add <img src="../../../images/person-add.svg" height="25" width="25">
          </button>
        </a>
      </div>

    </div>

    <div class="row center-block">

      <table class="table table-hover">
        <!--Table is filled with sample data-->
        <thead class="thead">
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
        </tbody>
      </table>

    </div>

    <div id="row3" class="row center-block">

      <div class="column col-sm-8 text-center"></div>

      <div class="column col-sm-4 text-center">

        <span style="margin: 0 5px 0 35px">Page: </span>
        <input type="text" id="current-page" size="1" maxlength="2">
        <span id="total-pages">/ </span>
        
        <button id="next-page"> <img src="../../../images/arrow-left-square-fill.svg"></button>
        <button id="prev-page"> <img src="../../../images/arrow-right-square-fill.svg"></button>

      </div>

    </div>

  </div>


</div>
</body>
</html>