<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Customers</title>
  <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico" th:href="@{/images/favicon.ico}">
  <link rel="stylesheet" type="text/css" media="all" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
  <script th:src="@{/js/jquery.min.js}" src="../static/js/jquery.min.js"></script>
  <script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" media="all" href="../static/css/common.css" th:href="@{/css/common.css}" />
  <link rel="stylesheet" type="text/css" media="all" href="../static/css/customers.css" th:href="@{/css/customers.css}" />
  <script th:src="@{/js/common.js}" src="../static/js/common.js"></script>
  <script th:src="@{/js/customers.js}" src="../static/js/customers.js"></script>
</head>
<body onload="">
<div class="overlay">

  <div id="navbar-insert" th:insert="elements/_navbar.html::#navbar-container">
  </div>

  <div class="container main-container center-block">

    <div id="row1" class="row center-block">

      <div class="column col-md-4 text-center">
        <h1>Customers</h1>
      </div>

      <div class="column col-md-8 text-center" style="margin-top: 15px">
        <input type="text" class="inner-add-elements" placeholder="Search Contacts">
        <button id="search-contact-button" class="btn btn-primary default-btn">
          <span id="search-contact-button-text"> Search </span>
          <img th:src="@{/images/search.svg}" src="../static/images/search.svg" height="20" width="20">
        </button>
        <a href="add-customer.html" th:href="@{/add-customer}">
          <button id="add-contact-button" class="btn btn-primary default-btn">
            <span id="add-contact-button-text"> Add </span>
            <img th:src="@{/images/person-add.svg}" src="../static/images/person-add.svg" height="25" width="25">
          </button>
        </a>
      </div>

    </div>

    <div class="row center-block">

      <table class="table table-hover">
        <thead class="thead">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th class="location-column" scope="col">Location</th>
          <th scope="col">Phone</th>
          <th class="email-column" scope="col">Email</th>
          <th scope="col">Frequency</th>
        </tr>
        </thead>
        <tbody>

          <tr th:each="customers : ${customers}" onclick="rowClick(event)" th:if="${searchSelect == 'SEARCH'}"
              th:value="${customers.customerId}">
            <th th:text="${customers.customerId}" scope="row"></th>
            <td th:text="${customers.customerName}"></td>
            <td class="location-column" th:text="${customers.customerLocation}"></td>
            <td th:text="${customers.customerPhone}"></td>
            <td class="email-column" th:text="${customers.customerEmail}"></td>
            <td th:text="${customers.frequency}"></td>
          </tr>

          <tr th:each="customers : ${customers}" onclick="customerSelect(event)" th:if="${searchSelect == 'SELECT'}"
              th:value="${customers.customerId}">
            <th th:text="${customers.customerId}" scope="row"></th>
            <td th:text="${customers.customerName}"></td>
            <td class="location-column" th:text="${customers.customerLocation}"></td>
            <td th:text="${customers.customerPhone}"></td>
            <td class="email-column" th:text="${customers.customerEmail}"></td>
            <td th:text="${customers.frequency}"></td>
          </tr>

        </tbody>
      </table>

    </div>

    <div id="row3" class="row center-block">

      <div class="column col-sm-6 text-center"></div>

      <div class="column col-sm-6 text-center">

        <span style="margin: 0 5px 0 35px">Page: </span>
        <input type="text" th:value="${pageNumber + 1}" id="current-page" size="1"
               maxlength="2" onkeydown="pageInBox(event)">
        <span id="total-pages">/ </span>

        <button id="next-page" onclick="previousPage(event)">
          <img th:src="@{/images/arrow-left-square-fill.svg}" src="../static/images/arrow-left-square-fill.svg">
        </button>
        <button id="prev-page" onclick="nextPage(event)">
          <img th:src="@{/images/arrow-right-square-fill.svg}" src="../static/images/arrow-right-square-fill.svg">
        </button>

      </div>

    </div>

  </div>

  <input id="jobId" type="hidden" th:value="${job.jobId}" th:if="${searchSelect == 'SELECT'}">


</div>
</body>
</html>