<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/js/jquery.min.js}" src="../static/js/jquery.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/error.css" th:href="@{/css/error.css}" />
</head>
<body>

<div class="main-container">
    <div class="flex-div">
        <h1>There was an unexpected error</h1>
    </div>
    <div class="flex-div">
        <a href="/home">Return to Professional Lawn Services Home</a>
    </div>
</div>

</body>
</html>