<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico" th:href="@{/images/favicon.ico}">
  <link rel="stylesheet" type="text/css" media="all" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
  <script th:src="@{/js/jquery.min.js}" src="../static/js/jquery.min.js"></script>
  <script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" media="all" href="../static/css/common.css" th:href="@{/css/common.css}" />
  <link rel="stylesheet" type="text/css" media="all" href="../static/css/home.css" th:href="@{/css/home.css}" />
  <script th:src="@{/js/common.js}" src="../static/js/common.js"></script>
  <script th:src="@{/js/home.js}" src="../static/js/home.js"></script>
</head>
<body onload="timeClock(); setDates(); setDateSpacing();">
<div class="overlay">

  <div id="navbar-insert" th:insert="elements/_navbar.html::#navbar-container">
  </div>

  <div class="container main-container center-block">

    <div class="row center-block">

      <div class="column col-lg-3 text-center">
        <div class="inner-clock">
          <div class="primary-column-header">Clock</div>
          <time id="clock-numbers"> Time</time>
          <div class="inner-clock-client">
            <label id="client-list-label" for="client-list" th:hidden="${activeJob != null}">Choose a client:</label>
            <div class="clear"></div>
            <select name="people" id="client-list" th:hidden="${activeJob != null}">
              <option th:each="job : ${calendarJobs.get(0)}" th:value="${job.jobId}" th:if="${job.customer != null}"
                      th:text="${job.customer?.customerName}"></option>
              <option th:each="job : ${calendarJobs.get(0)}" th:value="${job.jobId}" th:if="${job.customer == null}"
                      th:text="${'Appointment: ' + job.jobId}"></option>
            </select>
            <label id="active-client-label" for="active-client" th:hidden="${activeJob == null}">Active client:</label>
            <span th:id="active-client" th:if="${activeJob != null && activeJob.customer != null}"
                  th:hidden="${activeJob == null}"
                  th:text="${activeJob == null} ? '' : ${activeJob.customer.customerName}">
            </span>
            <span th:id="active-client" th:hidden="${activeJob == null}"
                  th:if="${activeJob != null && activeJob.customer == null}"
                  th:text="${activeJob == null} ? '' : ${'Appointment ' + activeJob.jobId}">
            </span>
            <span th:id="active-client" th:hidden="${activeJob == null}" th:if="${activeJob == null}" th:text="''">
            </span>
            <input id="active-client-id" hidden="true"
                   th:value="${activeJob == null} ? '' : ${activeJob.jobId}"/>
          </div>
        </div>
        <div class="inner-clock-buttons">
          <button id="start-session-button" class="btn btn-primary default-btn" onclick="startSession()"
                  th:hidden="${activeJob != null}" type="submit">Start Session</button>
          <button id="end-session-button" class="btn btn-primary default-btn" onclick="endSession()"
                  th:hidden="${activeJob == null}" type="submit">End Current Session</button>
        </div>
      </div>

      <div id="current-day-column" class="column col-lg-2 text-center">
        <div class="inner-date-column">
          <div id="day-0" class="date-header"> Date 0 </div>
          <div id="day-0-content" class="date-content" ondragover="allowDrop(event)" ondrop="drop(event)">
            <button id="weather-module-day-0" class="content-module" th:if="${weatherArrayList.get(0) != null}"
                    onclick="moduleInfo(event)" type="button">Weather</button>
            <div id="weather-module-day-0-info" class="module-info" th:if="${weatherArrayList.get(0) != null}">
              <ul>
                <li><span th:text="${'High: ' +  weatherArrayList.get(0).getHigh()}">High: </span></li>
                <li><span th:text="${'Low: ' +  weatherArrayList.get(0).getLow()}">Low: </span></li>
                <li><span th:text="${'Humidity: ' +  weatherArrayList.get(0).getHumidity()}">Humidity: </span></li>
                <li><span th:text="${'Description: ' +  weatherArrayList.get(0).getDescription()}">Description: </span></li>
              </ul>
            </div>

            <!--
            <button th:id="${'job_' + job.jobId}" th:each="job : ${calendarJobs.get(0)}"
                    class="content-module" draggable="true" ondragstart="drag(event)">
              <input th:value="${job.jobId}" hidden="hidden"/>
              <span th:text="${job.customer?.customerName}" th:if="${job.customer !=null}"></span>
              <span th:text="${'Appointment' + job.jobId}" th:if="${job.customer ==null}"></span>
            </button>
            -->

            <button th:id="${'job_' + job.jobId}" th:each="job : ${calendarJobs.get(0)}"
                    class="content-module" ondragstart="drag(event)" th:insert="elements/_calendar-jobs.html"
                    onclick="appointmentClick(event)" th:draggable="${userAccessLevel >= managerAccessLevel}">
            </button>
          </div>
        </div>
      </div>

      <div class="column col-lg-2 text-center">
        <div class="inner-date-column">
          <div id="day-1" class="date-header"> Date 1 </div>
          <div id="day-1-content" class="date-content" ondragover="allowDrop(event)" ondrop="drop(event)">
            <button id="weather-module-day-1" type="button"
                    class="content-module" onclick="moduleInfo(event)">Weather</button>
            <div id="weather-module-day-1-info" class="module-info">
              <ul>
                <li><span th:text="${'High: ' + weatherArrayList.get(1).getHigh()}">High: </span></li>
                <li><span th:text="${'Low: ' +  weatherArrayList.get(1).getLow()}">Low: </span></li>
                <li><span th:text="${'Humidity: ' +  weatherArrayList.get(1).getHumidity()}">Humidity: </span></li>
                <li><span th:text="${'Description: ' +  weatherArrayList.get(1).getDescription()}">Description: </span></li>
              </ul>
            </div>
            <button th:id="${'job_' + job.jobId}" th:each="job : ${calendarJobs.get(1)}"
                    class="content-module" th:draggable="${userAccessLevel >= managerAccessLevel}"
                    ondragstart="drag(event)" th:insert="elements/_calendar-jobs.html"
                    onclick="appointmentClick(event)">
            </button>
          </div>
        </div>
      </div>

      <div class="column col-lg-2 text-center">
        <div class="inner-date-column">
          <div id="day-2" class="date-header"> Date 2 </div>
          <div id="day-2-content" class="date-content" ondragover="allowDrop(event)" ondrop="drop(event)">
            <button id="weather-module-day-2" type="button"
                    class="content-module" onclick="moduleInfo(event)">Weather</button>
            <div id="weather-module-day-2-info" class="module-info">
              <ul>
                <li><span th:text="${'High: ' +  weatherArrayList.get(2).getHigh()}">High: </span></li>
                <li><span th:text="${'Low: ' +  weatherArrayList.get(2).getLow()}">Low: </span></li>
                <li><span th:text="${'Humidity: ' +  weatherArrayList.get(2).getHumidity()}">Humidity: </span></li>
                <li><span th:text="${'Description: ' +  weatherArrayList.get(2).getDescription()}">Description: </span></li>
              </ul>
            </div>
            <button th:id="${'job_' + job.jobId}" th:each="job : ${calendarJobs.get(2)}"
                    class="content-module" th:draggable="${userAccessLevel >= managerAccessLevel}"
                    ondragstart="drag(event)" th:insert="elements/_calendar-jobs.html"
                    onclick="appointmentClick(event)">
            </button>
          </div>
        </div>
      </div>

      <div class="column col-lg-2 text-center">
        <div class="inner-date-column">
          <div id="day-3" class="date-header"> Date 3 </div>
          <div id="day-3-content" class="date-content" ondragover="allowDrop(event)" ondrop="drop(event)">
            <button id="weather-module-day-3" type="button"
                    class="content-module" onclick="moduleInfo(event)">Weather</button>
            <div id="weather-module-day-3-info" class="module-info">
              <ul>
                <li><span th:text="${'High: ' +  weatherArrayList.get(3).getHigh()}">High: </span></li>
                <li><span th:text="${'Low: ' +  weatherArrayList.get(3).getLow()}">Low: </span></li>
                <li><span th:text="${'Humidity: ' +  weatherArrayList.get(3).getHumidity()}">Humidity: </span></li>
                <li><span th:text="${'Description: ' +  weatherArrayList.get(3).getDescription()}">Description: </span></li>
              </ul>
            </div>
            <button th:id="${'job_' + job.jobId}" th:each="job : ${calendarJobs.get(3)}"
                    class="content-module" th:draggable="${userAccessLevel >= managerAccessLevel}"
                    ondragstart="drag(event)" th:insert="elements/_calendar-jobs.html"
                    onclick="appointmentClick(event)">
            </button>
          </div>
        </div>
      </div>

    </div>

    <div class="row center-block">

      <div class="column col-lg-3 text-center" th:if="${userAccessLevel >= managerAccessLevel}">
        <div class="inner-add">
          <div id="add-header" class="primary-column-header">Quick Add</div>
          <span id="selected-customer" hidden="true"></span>
          <button  class="btn btn-primary default-btn" onclick="changeCustomerClick(event)"
                   type="button" hidden="true" id="change-customer-button">Change Customer</button>
          <input id="selected-customer-id" value="" hidden="true"/>
          <input type="text" class="inner-add-elements" placeholder="Search Contacts" id="customer-search-field"
                 list="customer-search-results" onkeyup="searchCustomerOnType()" oninput="datalistClick(event)">
          <datalist id="customer-search-results">
          </datalist>
          <div class="clear inner-add-elements"></div>
          <input type="date" id="add-schedule-date">
          <div class="clear inner-add-elements"></div>
          <button  class="btn btn-primary inner-add-elements default-btn" onclick="quickScheduleClick(event)"
                   type="button">Schedule</button>
        </div>
      </div>

      <div class="column col-lg-3 text-center col-transparent" th:if="${!(userAccessLevel >= managerAccessLevel)}">

      </div>

      <div class="column col-lg-2 text-center">
        <div class="inner-date-column">
          <div id="day-4" class="date-header"> Date 4 </div>
          <div id="day-4-content" class="date-content" ondragover="allowDrop(event)" ondrop="drop(event)">
            <button id="weather-module-day-4" type="button"
                    class="content-module" onclick="moduleInfo(event)">Weather</button>
            <div id="weather-module-day-4-info" class="module-info">
              <ul>
                <li><span th:text="${'High: ' +  weatherArrayList.get(4).getHigh()}">High: </span></li>
                <li><span th:text="${'Low: ' +  weatherArrayList.get(4).getLow()}">Low: </span></li>
                <li><span th:text="${'Humidity: ' +  weatherArrayList.get(4).getHumidity()}">Humidity: </span></li>
                <li><span th:text="${'Description: ' +  weatherArrayList.get(4).getDescription()}">Description: </span></li>
              </ul>
            </div>
            <button th:id="${'job_' + job.jobId}" th:each="job : ${calendarJobs.get(4)}"
                    class="content-module" th:draggable="${userAccessLevel >= managerAccessLevel}"
                    ondragstart="drag(event)" th:insert="elements/_calendar-jobs.html"
                    onclick="appointmentClick(event)">
            </button>
          </div>
        </div>
      </div>

      <div class="column col-lg-2 text-center">
        <div class="inner-date-column">
          <div id="day-5" class="date-header"> Date 5 </div>
          <div id="day-5-content" class="date-content" ondragover="allowDrop(event)" ondrop="drop(event)">
            <button id="weather-module-day-5" type="button"
                    class="content-module" onclick="moduleInfo(event)">Weather</button>
            <div id="weather-module-day-5-info" class="module-info">
              <ul>
                <li><span th:text="${'High: ' +  weatherArrayList.get(5).getHigh()}">High: </span></li>
                <li><span th:text="${'Low: ' +  weatherArrayList.get(5).getLow()}">Low: </span></li>
                <li><span th:text="${'Humidity: ' +  weatherArrayList.get(5).getHumidity()}">Humidity: </span></li>
                <li><span th:text="${'Description: ' +  weatherArrayList.get(5).getDescription()}">Description: </span></li>
              </ul>
            </div>
            <button th:id="${'job_' + job.jobId}" th:each="job : ${calendarJobs.get(5)}"
                    class="content-module" th:draggable="${userAccessLevel >= managerAccessLevel}"
                    ondragstart="drag(event)" th:insert="elements/_calendar-jobs.html"
                    onclick="appointmentClick(event)">
            </button>
          </div>
        </div>
      </div>

      <div class="column col-lg-2 text-center">
        <div class="inner-date-column">
          <div id="day-6" class="date-header"> Date 6 </div>
          <div id="day-6-content" class="date-content" ondragover="allowDrop(event)" ondrop="drop(event)">
            <button th:id="${'job_' + job.jobId}" th:each="job : ${calendarJobs.get(6)}"
                    class="content-module" th:draggable="${userAccessLevel >= managerAccessLevel}"
                    ondragstart="drag(event)" th:insert="elements/_calendar-jobs.html"
                    onclick="appointmentClick(event)">
            </button>
          </div>
        </div>
      </div>

      <div class="column col-lg-2 text-center">
        <div class="inner-date-column">
          <div id="day-7" class="date-header"> Date 7 </div>
          <div id="day-7-content" class="date-content" ondragover="allowDrop(event)" ondrop="drop(event)">
            <button th:id="${'job_' + job.jobId}" th:each="job : ${calendarJobs.get(7)}"
                    class="content-module" th:draggable="${userAccessLevel >= managerAccessLevel}"
                    ondragstart="drag(event)" th:insert="elements/_calendar-jobs.html"
                    onclick="appointmentClick(event)">
            </button>
          </div>
        </div>
      </div>

    </div>

    <div class="row center-block" th:if="${userAccessLevel >= managerAccessLevel}">

      <div class="column col-lg-3 text-center" th:if="${userAccessLevel >= managerAccessLevel}">
        <div class="inner-add">
          <div id="missed-header" class="primary-column-header">Missed Appointments</div>
          <div id="missed-content">
            <button th:id="${'job_' + job.jobId}" th:each="job : ${missedJobs}" class="content-module"
                    th:draggable="${userAccessLevel >= managerAccessLevel}"
                    ondragstart="drag(event)" th:insert="elements/_calendar-jobs.html"
                    onclick="appointmentClick(event)">
            </button>
          </div>
        </div>
      </div>

      <div class="column col-lg-2 text-center">
        <div class="inner-date-column">
          <div id="day-8" class="date-header"> Date 8 </div>
          <div id="day-8-content" class="date-content" ondragover="allowDrop(event)" ondrop="drop(event)">
            <button th:id="${'job_' + job.jobId}" th:each="job : ${calendarJobs.get(8)}"
                    class="content-module" th:draggable="${userAccessLevel >= managerAccessLevel}"
                    ondragstart="drag(event)" th:insert="elements/_calendar-jobs.html"
                    onclick="appointmentClick(event)">
            </button>
          </div>
        </div>
      </div>

      <div class="column col-lg-2 text-center">
        <div class="inner-date-column">
          <div id="day-9" class="date-header"> Date 9 </div>
          <div id="day-9-content" class="date-content" ondragover="allowDrop(event)" ondrop="drop(event)">
            <button th:id="${'job_' + job.jobId}" th:each="job : ${calendarJobs.get(9)}"
                    class="content-module" th:draggable="${userAccessLevel >= managerAccessLevel}"
                    ondragstart="drag(event)" th:insert="elements/_calendar-jobs.html"
                    onclick="appointmentClick(event)">
            </button>
          </div>
        </div>
      </div>

      <div class="column col-lg-2 text-center">
        <div class="inner-date-column">
          <div id="day-10" class="date-header"> Date 10 </div>
          <div id="day-10-content" class="date-content" ondragover="allowDrop(event)" ondrop="drop(event)">
            <button th:id="${'job_' + job.jobId}" th:each="job : ${calendarJobs.get(10)}"
                    class="content-module" th:draggable="${userAccessLevel >= managerAccessLevel}"
                    ondragstart="drag(event)" th:insert="elements/_calendar-jobs.html"
                    onclick="appointmentClick(event)">
            </button>
          </div>
        </div>
      </div>

      <div class="column col-lg-2 text-center">
        <div class="inner-date-column">
          <div id="day-11" class="date-header"> Date 11 </div>
          <div id="day-11-content" class="date-content" ondragover="allowDrop(event)" ondrop="drop(event)">
            <button th:id="${'job_' + job.jobId}" th:each="job : ${calendarJobs.get(11)}"
                    class="content-module" th:draggable="${userAccessLevel >= managerAccessLevel}"
                    ondragstart="drag(event)" th:insert="elements/_calendar-jobs.html"
                    onclick="appointmentClick(event)">
            </button>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
</body>
</html>